[submodule "LunadllNewLauncher/SMBXLauncher/PGE_File_Formats"]
	path = LunadllNewLauncher/SMBXLauncher/PGE_File_Formats
	url = https://github.com/Wohlhabend-Networks/PGE-File-Library-STL.git
[submodule "LunaDll/libs/PGE_File_Formats"]
	path = LunaDll/libs/PGE_File_Formats
	url = https://github.com/WohlSoft/PGE-File-Library-STL
[submodule "LunaDll/libs/luabind-deboostified"]
	path = LunaDll/libs/luabind-deboostified-original
	url = https://github.com/WohlSoft/luabind-deboostified
[submodule "luabind-deboostified-fork"]
	path = LunaDll/libs/luabind-deboostified
	url = https://github.com/Supermario1313/luabind-deboostified
